.products{
  max-width: 1024px ;
  margin: 56px auto;
  &__title{
    h1{

      display: flex;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 40px;
      text-transform: uppercase;
      color: #000000;
      &::before{
        content: '//';
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        text-transform: uppercase;
        color: #03FFA5;
      }
    }
  }
  &__context{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin: 24px auto;
  }
  .item{
    width: 241px;
    height: 381px;
    padding: 16px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    border-radius: 4px;
    user-select: none;
    &__image{
      p{  
        display: flex;
        width: 100px;
        height: 100px;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        border: 1px solid #F2F2F2;
        span{
          font-style: normal;
          font-weight: 500;
          font-size: 32px;
          line-height: 38px;
          text-transform: uppercase;
          color: #000000;
        }
      }
    }
    &__name{
      margin: 16px auto;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #000000;
    }
    &__description{
      &--title{
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #EE0E7D;
        margin: 16px 0px;
      }
      &--list{
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #5B5B5B;
        margin: 2px 0px;
      }
      &--text{

      }
    }

    &__button{
      button{
        width: 209px;
        height: 48px;
        background: #03FFA5;
        border-radius: 6px;
        border: 0;
        margin: 16px 0px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}