.banner {
  max-width: 100%;
  height: 560px;
  background-color: #03ffa5;
  user-select: none;
  padding: 0 16px;
  @media screen and(max-width:1080px) {
    height: 1024px;
  }
  @media screen and(max-width:600px) {
    height: 760px;
  }

  &__box {
    padding: 32px 0;
    
  }

  &__context {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 16px;
    @media screen and(max-width:1080px) {
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .box {
      &__text {
        width: 50%;
        float: left;
        @media screen and(max-width:1080px) {
          width: 100%;
        }
      }
      &__content {
        margin: 32px auto;
        &--text {
          max-width: 451px;
          width: 100%;
          font-style: normal;
          font-weight: 500;
          font-size: 64px;
          line-height: 77px;
          text-transform: uppercase;
        }
        &--subtext {
          max-width: 329px;
          width: 100%;
          margin: 16px 0 32px;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
        }

        &--button {
          width: 196px;
          height: 48px;
          font-style: normal;
          color: #000000;
          background-color: transparent;
          font-weight: 500;
          font-size: 15px;
          line-height: 24px;
          border: 1px solid #000000;
          border-radius: 6px;
          padding: 12px 24px;
        }
      }
    }
  }

  

  &__itens {
    position: relative;
    width: 50%;
    float: right;
    @media screen and(max-width:1080px) {
      width: 80%;
    }
    @media screen and(max-width:600px) {
      display: none;
    }
    .item {
      // width: 100%;
      // padding: 0 15px;
      // max-width: 100%;
      &__item-1,
      &__item-2,
      &__item-3 {
        position: absolute;
        width: 209px;
        height: 271px;
        background: #FFFFFF;
        border: 1px solid #F2F2F2;
        box-sizing: border-box;
        box-shadow: 0px 32px 32px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        text-align: center;
                
        .item {
          &__content {
            width: 100%;
            margin: 0 auto;
            padding: 10px;
            img {
              display: inherit;
              margin: 0 auto;
              width: 170px;
              height: 165px;
            }
            button {
              color: #ee0e7d;
              background: #ffffff;
              border: 1px solid #ee0e7d;
              box-sizing: border-box;
              border-radius: 24px;
              padding: 12px 24px;
              margin: 40px auto 0;
            }
          }
        }
      }

      &__item-1 {
        top: 25px;
        left: 160px;
        z-index: 3;
        animation: floatUp 5s ease-in-out infinite;
        img {
          width: 128px;
          height: 134px;
          padding: 16px;
        }
      
      }
      &__item-2 {
        top: 145px;
        z-index: 2;
        animation: floatDown 3s ease-in-out infinite;
        img {
          width: 183px;
          height: 190px;
        }
      }
      &__item-3 {
        top: 195px;
        left: 300px;
        z-index: 1;
        animation: floatDown 7s ease-in-out infinite;
        img {
          width: 170px;
          height: 165px;
        }
      }
    }
  }
}
@keyframes floatUp {
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(-5px);
  }
  100%{
    transform: translateY(0px);
  }
}
@keyframes floatDown {
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(5px);
  }
  100%{
    transform: translateY(0px);
  }
}