.contact {
  background-color: #EE0E7D;
  &__content{
    display: flex;
    max-width: 1440px;
    height: 480px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    z-index: 10;
  }
  &__title{
    width: 676px;
    text-align: center;
    user-select: none;
    h1{
      color: white;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 40px;
      text-transform: uppercase;
    }
  }

  &__contact{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 32px;
    color: white;
    font-style: normal;
    small{
      user-select: none;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
    }
    a{
      color: white;
      margin-top: 8px;
      font-weight: 500;
      font-size: 32px;
      line-height: 24px;
    }
  }
  
}
