.header {
  max-width: 1440px;
  margin: 8px auto;
  z-index: 10;
  background-color: white;
  user-select: none;
  padding: 0 16px;

  .nav {
    display: flex;
    align-items: center;
    vertical-align: middle;
    padding: 0 8px;
    &__logo {
      max-width: 200px;
      width: 100%;
      padding: 0 8px;
    }
    &__hamburguer {
      display: none;
      @media screen and(max-width:1080px) {
        display: block;
      }
      button {
        font-size: 24px;
        border: 0;
      }
    }
    &__menu {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding: 8px 16px;
      @media screen and(max-width:1080px) {
        flex-wrap: initial;
        justify-content: flex-end;
      }
    }
    &__menu {
      flex-grow: 1;
      align-items: center;
    }
    &__links {
      display: flex;
      flex-direction: column;
      @media screen and(max-width:1080px) {
        display: none;
      }
      &--link {
        padding: 0 8px;
        color: #000000;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        @media screen and(max-width:1080px) {
          display: none;
        }
      }
    }
    &__search {
      display: flex;
      width: 100%;
      max-width: 240px;
      margin-left: auto !important;
      &--desktop {
        @media screen and(max-width:1080px) {
          display: none;
        }
      }
      &--mobile {
        display: none;
        @media screen and(max-width:1080px) {
          display: block;
          .result {
            max-width: none;
            &__context {
              width: 100%;
              justify-content: space-between;
            }
          }
        }
      }
    }
    &__cart {
      display: flex;
      margin-top: 6px;
      a {
        padding: 0 8px;
      }
      &--button {
        font-size: 24px;
        color: #000000;
      }
    }
  }
}
