.header {
  max-width: 1440px;
  margin: 8px auto;
  z-index: 10;
  background-color: white;
  user-select: none;

  .nav {
    display: flex;
    align-items: center;
    vertical-align: middle;
    padding: 0 8px;
    &__logo {
      width: 200px;
      padding: 0 8px;
    }
    &__hamburguer {
      display: none;
    }
    &__menu {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding: 8px 16px;
    }
    &__menu {
      flex-grow: 1;
      align-items: center;
    }
    &__links {
      display: flex;
      flex-direction: column;
      &--link {
        padding: 0 8px;
        color: #000000;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
      }
    }
    &__search {
      display: flex;
      width: 100%;
      max-width: 240px;
      margin-left: auto !important;
    }
    &__cart {
      display: flex;
      margin-top: 6px;
      a {
        padding: 0 8px;
      }
      &--button {
        font-size: 24px;
        color: #000000;
      }
    }
  }
}
